
  // SCSS PRIMARY COLORS


  $primary-400: #f58a8e;
  $primary-500: #f6555a;
  $primary-600: #d64242;
  $primary-700: #8e3b36;
  $primary-800: #5c2f2b;
  $primary-900: #251411;
  

  // SCSS SECONDARY COLORS

  $secondary-500: #ffffff;
  $secondary-600: #dddddd;
  $secondary-700: #b3b3b3;
  $secondary-800: #878787;
  $secondary-900: #636262;

  // OTHERS
  $shadow-primary: 0px 10px 25px -13px rgba(0,0,0,0.60);
  $transition: all 0.3s ease;
  $transition-slow: all 0.8s ease;
  
